In [2]:
import pandas as pd
df = pd.read_csv("swiggy.csv")

In [3]:
df.columns

Index(['dt', 'order_date', 'location_code', 'order_id', 'sku', 'order_qty',
       'bin', 'zone', 'bin_rank', 'order_tag', 'store_id', 'floor', 'rack',
       'aisle', 'pods_per_picklist_in_that_zone', 'length_in_cm',
       'width_in_cm', 'height_in_cm', 'weight_in_grams', 'pod_priority'],
      dtype='object')

In [4]:
df.shape

(1048575, 20)

In [5]:
df['dt'].unique()

array(['12/8/2025'], dtype=object)

In [6]:
df['location_code'].unique()

array(['BLR'], dtype=object)

In [7]:
df['order_tag'].unique()

array(['Normal'], dtype=object)

In [8]:
df['zone'].unique() # size 38

array(['combo_9', 'combo_11', 'combo_8', 'CICO_G2', 'DL+CL', 'STAPLES',
       'CICO_FD', 'combo_6', 'SPICES&DAL', 'FMCG_FOOD1', 'FMCG_FOOD2',
       'DP+DB', 'DIAPERS', 'H_STAPLES', 'combo_4', 'FRAGILE_FD',
       'combo_7', 'BISC_BAK', 'CHOCOLATES', 'REB_G1_FD', 'combo_2',
       'HVAL_APPG1', 'CD_CICO', 'ATTA', 'combo_5', 'LIQUID_E0',
       'HNK_LARGE', 'CICO_D2', 'combo_3', 'M&S_2', 'REB_FD_G0',
       'HVAL_APP_2', 'combo_10', 'OIL&GHEE_S', 'SAMPLE', 'GOLD',
       'CICO_OIL', 'combo_1'], dtype=object)

In [9]:
df = df.drop(columns=['dt', 'order_date', 'location_code', 'order_tag', 'length_in_cm', 'width_in_cm', 'height_in_cm'])

In [10]:
df.columns

Index(['order_id', 'sku', 'order_qty', 'bin', 'zone', 'bin_rank', 'store_id',
       'floor', 'rack', 'aisle', 'pods_per_picklist_in_that_zone',
       'weight_in_grams', 'pod_priority'],
      dtype='object')

In [11]:
df['zone'].value_counts()

zone
combo_9       128962
combo_11       98395
combo_6        86844
FMCG_FOOD2     76970
combo_8        75639
SPICES&DAL     57495
FMCG_FOOD1     57195
BISC_BAK       46608
combo_5        42588
FRAGILE_FD     39038
STAPLES        37891
CHOCOLATES     34784
H_STAPLES      26379
combo_4        22868
combo_2        21323
CICO_FD        20987
REB_G1_FD      18075
CD_CICO        15113
DP+DB          14533
DIAPERS        12973
OIL&GHEE_S     12616
combo_3        11209
DL+CL          10323
combo_7         9808
HNK_LARGE       9691
ATTA            9541
CICO_G2         8963
HVAL_APPG1      8954
LIQUID_E0       8219
CICO_D2         6981
CICO_OIL        4768
M&S_2           4645
combo_10        2989
REB_FD_G0       2172
combo_1         1515
HVAL_APP_2       941
SAMPLE           406
GOLD             174
Name: count, dtype: int64

In [12]:
sample_df = df[df['zone'] == 'GOLD']
sample_df.shape

(174, 13)

In [15]:
sample_df.to_csv('sample.csv', index=False)

In [16]:
sample_df.head()

,order_id,sku,order_qty,bin,zone,bin_rank,store_id,floor,rack,aisle,pods_per_picklist_in_that_zone,weight_in_grams,pod_priority
2469,BLR_120094,116809,1,GOLD-02,GOLD,48092,394957,NaN,NaN,NaN,1,0.5,P1
2470,BLR_129739,116809,2,GOLD-02,GOLD,48092,398693,NaN,NaN,NaN,1,0.5,P1
7876,BLR_129738,116809,2,GOLD-02,GOLD,48092,400061,NaN,NaN,NaN,1,0.5,P2
7877,BLR_123712,116809,1,GOLD-02,GOLD,48092,392424,NaN,NaN,NaN,1,0.5,P3
13410,BLR_122526,116809,1,GOLD-02,GOLD,48092,396467,NaN,NaN,NaN,1,0.5,P3

In [18]:
sample_df = sample_df.sort_values(by=['pod_priority', 'weight_in_grams'])